<%= render 'shared/header'%>
<div class="wrapper">
    <div class="profile">
      <%= @user.nickname %>さんってどんなひと？
      <% if @user==current_user%>
        <span class="copyto">
          マイボードURL  https://taqoo.herokuapp.com/boards/<%=@user.id%>
          <button id="copy-url" class="button">Copy URL</button>
        </span>
      <% end%>
    </div>
     <%count=0%>
      <% if @new_introductions.empty?%>
      <%else%>
        <p class="sentence">届いた新規紹介文</p>
      <% end %>
    <%#紹介文一覧表示%>
    <% if @user==current_user%>
    <div class=introductions-wrapper>
    <!--自身のページに飛んだ時-->
      <%@new_introductions.each do |intro|%>
        <div class="introduction-content">
          <div class="first-introduction">
              <div class="content">
                <%= intro.content%>
              </div>
              <%= link_to  change_board_introductions_path(@new_introductions[count][:id]), class:'permission-button blue' do%>
                <i class="fas fa-unlock-alt">公開</i>
              <% end%>
              <%= link_to  board_introduction_path(@new_introductions[count][:id]), method: :delete, class:'permission-button red' do%>
                <i class="fas fa-trash-alt">削除</i>
              <% end %>
          </div>
          <div class="introducer-name">
            <span class="under-line">紹介者
              <%= intro.category.name%>の
              <% user=User.find(intro.users_id)%>
              <%=user.nickname%>
            </span>
          </div>
        </div>
        <%count+=1%>
      <% end%>
      <p class="sentence">公開されている紹介文</p>
      <%@introductions.each do |intro|%>
        <div class="introduction-content">
          <div class="content">
                <%= intro.content%>
              </div>
          <div class="introducer-name">
            <span class="under-line">紹介者
              <%= intro.category.name%>の
              <% user=User.find(intro.users_id)%>
              <%=user.nickname%>
            </span>
          </div>
        </div>
      <% end%>
      </div>
    <%else%>
    <!--自身以外のマイページに飛んだ時-->
      <div class="introductions-wrapper">
      <%@introductions.each do |intro|%>
        <div class="introduction-content">
          <%= intro.content%>
          <!--紹介文を作成した本人のみに削除の表示-->
          <% if @introductions[count][:users_id] == current_user.id%>
              <%= link_to board_introduction_path(@introductions[count][:id]), method: :delete, class:'permission-button red' do%>
                <i class="fas fa-trash-alt">削除</i>
              <% end%>
          <% end%>
          <div class="introducer-name">
            <span class="under-line">紹介者
              <%= intro.category.name%>
              <% user=User.find(intro.users_id)%>
              <%=user.nickname%>
            </span>
          </div>
        </div>
        <%count+=1%>
      <% end%>
      </div>
    <% end%>
    <!--ダミーテキスト-->
    <% if @introductions.empty? && @user != current_user%>
      <div class="introduction-content">
          まだ紹介文はありません。<br>
          １人目の紹介者になりましょう！！
      </div>
    <% end%>
    <% unless @user==current_user%>
        <%= link_to new_board_introduction_path(board_id: @board[0][:id]),class: 'write-btn' do %>
        <p >紹介文を作成</p>
        <i class="fas fa-pencil-alt fa-4x">
        </i>
        <% end %>
    <% end %>
</div>